<h1>Users#new</h1>

<%= form_for(@user) do |f| %>

  <div class="field">
    email<%= f.text_field :email %><br>
   password <%= f.password_field :password %>
   password confirm <%= f.password_field :password_confirmation %>
   First Name<%= f.text_field :first_name %><br>
   Last Name<%= f.text_field :last_name %><br>
   Biography <%= f.text_field :bio_text %><br>
   Avatar <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit "Make My Simply!" %>
    <!-- Trigger email sent for new user -->
      
  </div>
  <% end %>