<h1>Users#new</h1>

<%= form_for(@user) do |f| %>


  <div class="field">
    email<%= f.text_field :email %><br>
   password <%= f.text_field :password %>
   password confirm <%= f.text_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>