<div class="container-fluid">

  <div class="row" id="welcome">
      <div class="col-md-12 welcome">
        <h1>simply.me</h1>
        <%=image_tag("Piercycle.jpg", class: "landing-image")%>
      </div>
  </div>
</div>



<%= @user.email %><br />
<%= @user.id %><br />
<%= @user.first_name %><br />
<%= @user.last_name %><br />
<%= @user.bio_text %><br />
<%= image_tag @user.avatar.url(:thumb) %>

Photo time!
            <% @user.photos.each do |p| %>
                <%= image_tag p.image.url(:original) %><br />
          
            <% end %>
      
  



<%= render partial: 'layouts/map'%>
